#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0;
  margin-bottom: 10px;
  margin-top: -15px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  padding: 0 10px;
}

.friends-screen__channel {
  border-top: var(--main-boarder);
  margin-top: 20px;
  padding: 15px 0;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.2);
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 52px;
  animation: hideSplashScreen 0.3s ease-in-out 3s forwards;
}
